*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/build-logic/build/
/build-logic/build/classes/kotlin/main/
/core/common/build/
/core/common/build/classes/kotlin/main/
/core/data/build/
/core/database/build/
/core/datastore/build/
/core/designsystem/build/
/core/domain/build/
/core/domain/build/classes/kotlin/main/
/core/model/build/
/core/model/build/classes/kotlin/main/
/core/notifications/build/
/core/testing/build/
/core/ui/build/
/feature/editperson/build/
/feature/groups/build/
/feature/people/build/
/feature/settings/build/
/widget/build/